{% set queue = queue('classes', 'sidebar') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container">
        <div class="block">
            <div class="block-heading">
                <div class="right button-group button-group--small button-group--dropdown">
                    <a class="button button-dropdown-show" data-toggle="ul" data-toggle-unfocus href="#">
                        Sort <i class="fas fa-sort" aria-hidden="true"></i>
                    </a>
                    <ul class="button-dropdown-menu">
                        <li><a href='#' data-sort="profile-card-details h2" data-sort-type="alphanumeric">Name</a></li>
                        <li><a href='#' data-sort="button" data-sort-type="alphanumeric">Not following</a></li>
                    </ul>
                </div>

                <h1>{{ items|length|number_format }} {{ breadcrumb|keys|last|lower }}</h1>
            </div>

            <div class="block-content">
                {% include 'includes/flash.twig' %}

                {% if items is iterable and items|length %}
                    <ul class="list" data-sortable>
                        {% for id in items %}
                            {% set profile = getUser(id) %}
                            <li>
                                {% include 'profile/rollup.twig' with { profile: profile, controls: true } %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {% if breadcrumb|keys|last|lower == 'followed' %}
                        <p>You aren't following anyone yet. Why not follow the almighty <a href="/profile/flabbyrabbit">flabbyrabbit</a>.</p>
                    {% else %}
                        <p>You aren't being followed by anyone yet.</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}