{% set queue = queue('classes', 'sidebar') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container">
        <div class="block">
            <div class="block-heading"><h1>{{ breadcrumb|keys|last }}</h1></div>

            <div class="block-content">
                {% include 'includes/flash.twig' %}

                {% for provider in providers %}
                    {% set enabled = provider in connected %}
                    <a href='{{ enabled ? '?unlink='~provider : '/auth/'~provider }}' {{ enabled ? 'csrf' : '' }} class='auth-social--{{ provider }} button button--{{ enabled ? 'main' : 'secondary' }}'>
                        <i class="fab fa-{{ provider }}-f fa-{{ provider }}" aria-hidden="true"></i> {{ enabled ? 'Disconnect' : 'Connect' }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}