{% if externalNews is iterable %}
    <div class="block feed dashboard-news">
        <div class="block-heading">
            <h2>Latest news</h2>
        </div>
        <div class="block-content">
            {% for page in externalNews|batch(6) %}
                <div class="dashboard-news-page">
                    {% for item in page %}
                        <div class="feed-item dashboard-news-item">
                            <a class="dashboard-news-item-title" href="{{ item.link }}" target="_blank" rel='nofollow noreferrer noopener'>{{ item.title }}</a>
                            <p>{{ item.excerpt|truncate(150) }}</p>
                            <div class="small"><a href='{{ item.source.link }}' target='_blank' rel='nofollow noreferrer noopener'>{{ item.source.title }}</a> | {{ item.date|ago }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="dashboard-news-navigation">
                <a href='#'>newer</a> | <a href='#' class='active'>older</a>
            </div>
        </div>
    </div>
{% endif %}