{% set queue = queue('classes', 'sidebar', 'help') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container">
        <div class="block">
            <div class="block-heading">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="block-content">
                {{ page.content|raw }}
            </div>
        </div>
    </div>
{% endblock %}