{% set queue = queue('classes', 'sidebar') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container">
        {% include 'includes/form.twig' with { form: form, showFlash: true } %}

        {% if tickets is iterable and tickets|length %}
            <div class="block">
                <div class="block-heading"><h2>Tickets</h2></div>
                <div class="feed block-content">
                    {% for ticket in tickets %}
                        <a href="{{ ticket.permalink }}" class="feed-item">
                            <div class="feed-item-main">
                                <div class="feed-item-header">
                                    <div class="feed-item-details">
                                        <div class="feed-item-title">Ticket #{{ ticket.ticket_id }}</div>
                                        <div class="small">
                                            {{ pluralize(ticket.messages|length - 1, '1 reply', '%d replies', 'no replies') }}
                                            |
                                            {{ ticket.messages|last.sent|ago }}
                                        </div>
                                    </div>

                                    <div>
                                        <div class="feed-item-type">{{ ticket.status }}</div>
                                        {% if ticket.status == 'open' and not ticket.messages|last.read %}
                                            <div class="feed-item-subtype">new reply</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="feed-item-content truncate">
                                    {{ ticket.messages.0.content.safe|raw }}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div> 
        {% endif %}
    </div>
{% endblock %}