<p>Enter a password below to see how many times it has been used according to <a href='https://haveibeenpwned.com/' target='_blank'>have i been pwned?</a></p>

<form id="passwordTester" onsubmit="event.preventDefault(); checkPassword();">
    <input id="passwordTesterPassword" type="text" placeholder="Password"/>
    <input type="submit" value="Check"/>
</form>

<div id="passwordTesterOutput" class="msg msg--error hide"></div>

<script src="https://zhr3.co.uk/vendor/sha1.min.js"></script>
<script>
    function addSeperator(nStr){
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

    function checkPassword(e) {
        var hash = sha1(document.getElementById("passwordTesterPassword").value);
        console.log(hash);

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                console.log(hash.substr(5));

                var hashPosition  = this.responseText.indexOf(hash.toUpperCase().substr(5));
                if (hashPosition != -1) {
                    var count = this.responseText.substr(hashPosition).split(':')[1].split('\n')[0];

                    document.getElementById("passwordTesterOutput").className = 'msg msg--error';
                    document.getElementById("passwordTesterOutput").innerHTML = 'Password found ' + addSeperator(count) + ' times';
                } else {
                    document.getElementById("passwordTesterOutput").className = 'msg msg--success';
                    document.getElementById("passwordTesterOutput").innerHTML = 'All good, still probably best not to use that one again';
                }
            }
        };
        xhttp.open("GET", "https://api.pwnedpasswords.com/range/" + hash.substr(0, 5), true);
        xhttp.send();
    }
</script>