{% extends 'emails/base.twig' %}

{% block html %}
    <tr>
        <td style="font-family: 'Raleway', sans-serif; font-size:22px; font-weight: bold; color:#333;" align="center">Hello {{ username }}</td>
    </tr>

    <tr><td height="10">&nbsp;</td></tr>

    <tr>
        <td style="font-family: 'Lato', sans-serif; font-size:14px; color:#757575; line-height:24px; font-weight: 300;" align="center">
            {{ message|raw }}

            {% if excerpt %}
                <table align="center" border="0" cellpadding="10" cellspacing="0" width="90%" style="max-width:500px;">
                    <tr><td height="0"></td></tr>
                    <tr>
                        <td bgcolor="#2d3b4f" style="font-family: 'Lato', sans-serif; font-size:12px; color: #FFFFFF">
                            <p>
                                {{ excerpt|raw }}
                            </p>
                        </td>
                    </tr>
                </table>
            {% endif %}
        </td>
    </tr>
{% endblock %}