{% set title = 'Chat' %}
{% set queue = queue('classes', 'sidebar', 'chat') %}
{% extends 'layout/main.twig' %}

{% block content %}

    <div id="content" class="container">
        <div class="block">
            <div class="block-heading">
                <h2>Chat</h2>
            </div>
            <div class="block-content">
                <iframe src="https://defendtheweb.net/irc/#/connect{% if user %}?nick={{ user.username|escape('url') }}&username={{ user.username|escape('url') }}{% endif %}" style="border:0; width:100%; height:70vh;"></iframe>

                <p>IRC server kindly hosted by <a href="https://www.wechall.net/" target="_blank">We Chall</a>
            </div>
        </div>
    </div>

{% endblock %}