{% set title = 'Notifications' %}
{% set queue = queue('classes', 'sidebar', 'notifications') %}
{% extends 'layout/main.twig' %}

{% block content %}

    <div id="content" class="container">
        <div class="block feed">
            <div class="block-heading">
                <h1>Notifications</h1>
            </div>
            <div class="block-content">
                {% if notifications is iterable %}
                    {% for notification in notifications %}
                        {% if notification.message.full %}
                            <div class="feed-item">
                                <div class="notification {% if notification.unread %}notification--unread{% endif %}">
                                    <div class="right">
                                        {{ notification.created|ago }}
                                    </div>
                                    {{ notification.message.full|raw }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    No notifications received in the last 30 days
                {% endif %}
            </div>
        </div>
        <p class="small">Read notifications will be removed after 30 days</p>
    </div>

{% endblock %}