{% set queue = queue('classes', 'sidebar', 'discussion') %}
{% set queue2 = queue('scripts', '/js/discussions.min.js') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container discussion-list">
        <div class="row">
            <div class="three columns discussion-list-sidebar mobile-hide">
                {% if user and user.canContribute() %}
                    <a href='{% if topic.slug != "all" %}/discussions/{{ topic.slug }}/new{% else %}/discussion/new{% endif %}' class='button button--secondary discussion-button-create' style='width: 100%'><i class="far fa-comment" aria-hidden="true"></i> Start a discussion</a>
                {% endif %}

                <div class="discussion-list-sidebar-topics">
                    <h3>Topics</h3>

                    <ul>
                        <li {% if topic.slug == 'all' %}class="active"{% endif %}><a href='/discussions'>All topics</a></li>
                        {% for t in topics %}
                            {% set active = topic.topic_id == t.topic_id %}
                            {% set active_child = topic.parent.topic_id == t.topic_id %}
                            <li class="{% if active %}active{% endif %} {% if active_child %}active active-child{% endif %}" >
                                <a href='/discussions/{{ t.slug }}'>{{ t.title }}</a>

                                {% if (active or active_child) and t.children|length %}
                                    <ul>
                                        {% for st in t.children %}
                                            <li {% if st.topic_id == topic.topic_id %}class="active"{% endif %}>
                                                <a href='/discussions/{{ st.slug }}'>{{ st.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>

                    {% include 'includes/advert.twig' %}
                </div>
            </div>
            <div class="nine columns">
                {% include 'includes/flash.twig' %}

                {% if topic.slug != 'all' %}
                    <div class="discussion-topic-details">
                        <h2>{{ topic.title }}</h2>
                        {% if topic.description %}
                            <p>{{ topic.description }}</p>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="discussion-topic-details">
                        <h2>Discussions</h2>
                        <p>Welcome to the forum</p>
                    </div>
                {% endif %}

                {% if user and user.canContribute() %}
                    <a href='{% if topic.slug != "all" %}/discussions/{{ topic.slug }}/new{% else %}/discussion/new{% endif %}' class='button button--secondary button--wide discussion-button-create mobile-show' style='width: 100%'><i class="far fa-comment" aria-hidden="true"></i> Start a discussion</a>
                {% endif %}

                {% for title, threads in sections %}
                    {% if threads is iterable and threads|length > 0 %}
                        {% if title != 'Sticky' %}
                            <div class="right">
                                <div class="button-group button-group--small right button-group--dropdown">
                                        <a class="button button-dropdown-show" data-toggle="ul" data-toggle-unfocus href="#">
                                            {{ order ? order|capitalize|replace('-', ' ') : 'Sort' }} <i class="fas fa-sort" aria-hidden="true"></i>
                                        </a>
                                        <ul class="button-dropdown-menu">
                                            <li><a href='/discussions/{{ topic.slug }}/popular'>Popular</a></li>
                                            <li><a href='/discussions/{{ topic.slug }}/latest'>Latest</a></li>
                                            <li><a href='/discussions/{{ topic.slug }}/top'>Top</a></li>
                                            <li><a href='/discussions/{{ topic.slug }}/no-replies'>No replies</a></li>
                                        </ul>
                                </div>
                            </div>
                        {% endif %}

                        <h3>{{ title }}</h3>
                        <div class="discussion-list-threads {% if title == 'Sticky' %}discussion-list-threads--sticky{% endif %} feed">
                            {% include 'discussions/threads.twig' %}
                        </div>

                        {% if title != 'Sticky' %}
                            <div class="pagination">
                                <a href='/discussions/{{ topic.slug }}/{{ order }}/{{ page + 1 }}' class="button button--wide button--secondary" data-topic="{{ topic.slug }}" data-order="{{ order }}" data-page="{{ page }}">More</a>
                                <div class="loader hide"><div class="loader-inner"></div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}