{% if thread.answer %}
    <div class="block">
        <div class="block-content">
            Thread has been resolved, <a href='#post-{{ thread.answer }}'>jump to solution</a>
        </div>
    </div>
{% endif %}

<div class="discussion-thread-info block">
    <div class="block-content">
        <div>{{ thread.post_count|number_format }}<span>repl{{ thread.post_count == 1 ? 'y' : 'ies' }}</span></div>
        <div>{{ thread.stats.voices|length|number_format }}<span>voice{{ thread.stats.voices|length == 1 ? '' : 's' }}</span></div>
        <div>{{ thread.views|number_format }}<span>view{{ thread.views == 1 ? '' : 's' }}</span></div>

        {% set stat = thread.stats.images|length %}
        {% if stat %}
            <div class="discussion-thread-info-images">{{ stat|number_format }}<span>image{{ stat == 1 ? '' : 's' }}</span></div>
        {% endif %}

        {% set stat = thread.stats.videos|length %}
        {% if stat %}
            <div class="discussion-thread-info-videos">{{ stat|number_format }}<span>video{{ stat == 1 ? '' : 's' }}</span></div>
        {% endif %}
    </div>
</div>