<div class="block">
    <div class="block-heading">
        <h3>Pages</h3>
    </div>
    <div class="block-content">

        {% for page in pages %}
            <div class="article">
                <a href='{{ page.url }}'><h3>{{ page.title }}</h3></a>
                <p>{{ page.section }}</p>
            </div>
        {% endfor %}

    </div>
</div>