{% set queue = queue('classes', 'auth') %}
{% set queue = queue('styles', '/css/auth.css') %}
{% set queue = queue('scripts', '/vendor/mailcheck.min.js', '/js/auth.min.js') %}
{% extends 'layout/base.twig' %}

{% block html %}

    <div class="container">
        <div class="auth-nav">
            <a href='/auth'>&lt; cancel</a>
        </div>
        <div class="auth-local">
            <div class="auth-forgot active">
                {% include 'includes/flash.twig' %}

                <form method="post">
                    <input type="hidden" name="token" value="{{ token }}"/>
                    <p>Enter your username or email address below to request a reset password link.</p>
                    <div class="input">
                        <label for="forgot">Username/email</label>
                        <input type="text" name="forgot" id="forgot" placeholder="Username/email" autocorrect="off" autocapitalize="none">
                    </div>

                    <div class="row-fluid">
                        <div class="six columns">
                            &nbsp;
                        </div>
                        <div class="six columns">
                            <button type="submit" class="button button--wide button--main">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}