{% include 'playground/levels/basic.twig' ignore missing %}

{% if level.flash.type != 'success' %}
    <div class="row" style="margin-top: 3em">
        <div class="eight columns offset-by-two level-form">
            {% if level.flash2 %}<div class="msg msg--{{ level.flash2.type }}">{{ level.flash2.message }}</div>{% endif %}

            {% if level.form2 %}
                {% include 'includes/form.twig' with { form: level.form2 } %}
            {% endif %}
        </div>
    </div>
{% endif %}