{% set title = course.title ~ ' course' %}
{% set queue = queue('classes', 'sidebar', 'course') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container courses">
        {% include 'includes/back.twig' %}
        {% include 'includes/flash.twig' %}
        <h1>{{ course.title }}</h1>
        {% include 'includes/form.twig' with { form: form } %}
    </div>
{% endblock %}