.article-picks {
    .article-picks-article {
        .article-picks-article-image {
            background-size: cover;
            background-position: center;
            display: block;
        }

        &.article-picks-article--latest {
            display: flex;

            padding: 20px;
            border-radius: 6px;
            background: $block_bg_secondary;

            @include dark-mode {
                background: $dark_block_bg_secondary;
            }

            margin-bottom: 2rem;

            .article-picks-article-image {
                min-height: 200px;
            }

            .article-picks-article-content {
                display: flex;
                flex-direction: column;
    
                p {
                    font-size: 16px;
                    line-height: 26px;
                    flex-grow: 1;
                }
            }

            @media (max-width: $mobileWidth) {
                flex-direction: column;
                padding: 0;

                .article-picks-article-image {
                    margin-bottom: 1em;
                }

                .article-picks-article-content {
                    padding: 10px;

                    p {
                        margin-bottom: 0;
                    }

                    div {
                        display: none;
                    }
                }
            }
        }
    }

    .article-picks-older {
        display: flex;

        .article-picks-article {
            flex: 0 1 25%;

            margin: 0 2em 0 0;

            &:last-child {
                margin: 0;
            }

            > div {
                margin-top: 2em;
            }

            .article-picks-article-image {
                margin-top: 0;
                padding-bottom: 50%;
            }

            .button {
                align-self: flex-start;
            }
        }

        @media (max-width: $mobileWidth) {
            flex-wrap: wrap;
            justify-content: space-between;

            .article-picks-article,
            .article-picks-article:last-child {
                flex-basis: 48%;
                margin: 1em 0;
            }

            display: none;
        }
    }
}