.button {
    padding: 12px 16px;
    line-height: 1.3125;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    -webkit-appearance: none;
    letter-spacing: 0.1rem;

    color: $link;
    background: none;

    font-family: $text_mono_font;
    font-size: 1.1rem;
    font-weight: 600;

    border: 0;
    border-radius: 4px;

    margin: 0;

    text-transform: none;

    transition: 0.3s background, 0.3s border-color, 0.3s color, 0.3s opacity;

    text-align: center;

    min-width: 0;

    &.button--main,
    &.button--secondary,
    &:hover {
        background-color: $primary;

        @include dark-mode {
            color: white;
        }

        text-decoration: none;
        color: white;
        opacity: 1;
    }

    &.button--secondary {
        background-color: $secondary;

        @include dark-mode {
            background-color: $secondary;
            color: white;

            &:hover {
                background-color: $primary;
            }
        }

        &:hover {
            background-color: $primary;
        }
    }

    &:not(.button--clean) {
        &:before {
            content: "[ "
        }
        &:after {
            content: " ]"
        }
    }

    &.button--small {
        padding: 0;
        background: none;

        &:hover {
            transition: 0;
            color: $primary;

            background: none;

            &.button--warning {
                color: $error;
            }
        }
    }


    &.button--wide {
        display: block;
        text-align: center;
        margin-top: 1em;
        width: 100%;

        &.button--wide-clean {
            margin-top: 0;
        }
    }

    &.button--main {
        &:hover {
            background-color: $primary_hover;
        }

        @include dark-mode {
            &:hover {
                background-color: $primary_hover;
            }
        }
    }

    &.button--warning {
        &:hover {
            background: $error;
            color: white;
        }
    }

    i:not(:last-child) {
        padding-right: 5px;
    }
}

.button-group {
    overflow: hidden;
    display: flex;

    &.button-group--wide {
        width: 100%;

        .label,
        .button:not(.button-dropdown-show) {
            flex: 1 1 auto;
        }
    }

    .label {
        display: flex;
        align-items: center;
        background: $accent;
        border-radius: 4px;
        justify-content: center;

        @include dark-mode {
            background-color: $dark_accent;
        }

        & ~ .button {
            background-color: $secondary;
            color: white;

            &:hover {
                background-color: $primary !important;
            }
        }
    }

    .label,
    .button {
        min-width: 0;
        margin-left: 1px;

        &:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:first-child {
            margin-left: 0;
        }

        &:not(:last-child):not(.button-dropdown-show) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &.button-group--small {
        .label,
        .button {
            padding: 6px 8px;

            &:not(.button--background) {
                color: $text_subtle;
                background: none;

                &:hover {
                    color: $primary;

                    &.button--warning {
                        color: $error !important;
                    }
                }

                @include dark-mode {
                    background: none;
                    color: $dark_text_subtle;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }

    &.button-group--dropdown {
        position: relative;
        overflow: visible;

        .button-dropdown-show.toggle-visible {
            background: $primary;
            color: white;
        }

        &.button-group--small {
            .button-dropdown-show.toggle-visible {
                background: none;
                color: $primary;
            }
        }

        .button-dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            min-width: 180px;
            padding: 8px 0;
            margin: 8px 0;
            background: $overlay_bg;
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
            z-index: 500;

            @include dark-mode {
                background-color: $dark_overlay_bg;
            }

            li {
                list-style: none;
                text-align: left;
                font-size: 13px;
                line-height: 1.5;
                margin-bottom: 0;

                &.seperator {
                    margin: 8px 0;
                    background-color: $accent;
                    height: 1px;

                    @include dark-mode {
                        background-color: $dark_accent;
                    }

                    @include dark-mode {
                        background-color: $dark_accent;
                    }
                }

                a {
                    padding: 8px 15px;
                    display: block;
                    width: 100%;
                    border-radius: 0;
                    border: 0;
                    background: none;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    text-align: left;
                    font-size: 13px;
                    font-weight: normal;
                    text-decoration: none;
                }
            }
        }

        &.right {
            .button-dropdown-menu {
                right: 0;
                left: auto;
            }
        }
    }
}