.feed {
    .feed-item {
        border-top: 1px solid $accent;
        padding: 1.5em 0 1em;

        @include dark-mode {
            border-top-color: $dark_accent;
        }

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }

        &:first-child {
            border-top: 0;
        }

        .feed-item-left {
            width: 50px;
            margin-right: 0.5em;
            float: left;

            * {
                max-width: 100%;
            }
        }

        .feed-item-main {
            overflow: hidden;

            .feed-item-header {
                display: flex;
                align-items: center;

                > * {
                    flex: 0 0 auto;
                }

                .feed-item-title {
                    font-size: 1.7rem;
                    margin: 0;
                }

                .feed-item-avatar {
                    flex-basis: 40px;
                    margin-right: 10px;
                    display: block;

                    img {
                        display: block;
                    }
                }

                .feed-item-count {
                    margin-right: 1em;

                    div {
                        background: $secondary;
                        text-align: center;
                        width: 3em;
                        height: 2em;
                        line-height: 2em;
                        border-radius: 0.5em;
                        color: white;
                        
                        &.no-replies {
                            background: $accent;
                            color: $text;

                            @include dark-mode() {
                                background: $dark_accent;
                                color: white;
                            }
                        }

                        &.new-replies {
                            background: $primary;
                        }
                    }
                }

                .feed-item-details {
                    flex-grow: 1;
                    flex-shrink: 1;

                    .small {
                        a {
                            color: inherit;

                            &[data-text=author] {
                                font-weight: bold;
                            }

                            &:hover {
                                color: $primary;
                            }
                        }
                    }
                }

                .feed-item-type,
                .feed-item-subtype,
                .feed-item-topic {
                    display: inline-block;
                    padding: 1px 6px;
                    font-size: 0.9em;
                    color: $text;
                    float: left;

                    &:only-child {
                        border-radius: 4px;
                    }
                }

                .feed-item-type {
                    background: $secondary;
                    color: white;
                    border-radius: 4px 0px 0px 4px;

                    &.feed-item-type--parent {
                        border-radius: 4px;
                    }
                }

                a.feed-item-type:hover {
                    background: $primary;
                }

                .feed-item-subtype {
                    background: #353535;
                    border-radius: 0px 4px 4px 0px;
                    color: white;
                }

                a.feed-item-subtype:hover {
                    background: $primary;
                }

                .feed-item-topic {
                    background: purple;
                    border-radius: 4px;
                }
            }

            .feed-item-content {
                margin: 0.5em 0;
            }
        }
    }

    a.feed-item {
        display: block;
        color: inherit;

        .feed-item-title {
            color: $link;
        }

        &:hover {
            color: inherit;

            .feed-item-title {
                color: $primary;
            }
        }
    }

    @media (max-width: $mobileWidth) {
        .feed-item .feed-item-main .feed-item-header .feed-item-avatar {
            display: none;
        }
    }

    &.feed--global {
        .block-content {
            height: 20.7em;
            overflow: hidden;

            .feed-item {
                padding: 0.5em 0;

                border-top: 0;
                border-bottom: 1px solid $accent;

                @include dark-mode {
                    border-bottom-color: $dark_accent;
                }

                &:last-child {
                    border-bottom: 0;
                }

                .feed-item-main {
                    height: 3.1em;
                }
            }
        }
    }
}