.moderation-queues {
    .feed-item {
        padding: 1.5em !important;
        margin-bottom: 0.5em;
        border: none;

        &:nth-child(2n+1) {
            background: $accent;

            @include dark-mode {
                background: $dark_accent;
            }
        }

        .queue-count {
            margin-right: 1em;
            font-size: 2em;
            color: $primary;
            line-height: 1em;
            text-align: center;

            span {
                display: block;
                color: $text;
                font-size: 1rem;
                line-height: 1em;
            }
        }

        &.feed-item--inactive {
            opacity: 0.6;

            .queue-count,
            a {
                cursor: default;
                color: #666;
            }
        }
    }
}



.discussion-moderation-target {
    .discussion-moderation-controls {
        margin: -20px;
        margin-bottom: -20px;
        margin-bottom: 20px;
        padding: 20px;
        background: $primary;

        .c-subtle {
            color: white;
        }

        .button {
            border: none;
            padding: 1em 2em;
            min-width: 0;
        }

        p {
            color: white;

            &:first-of-type {
                margin-top: 1.5em;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}


.moderation-tickets {
    .multiple-actions {
        display: none;

        margin-bottom: 1rem;
        margin-left: 2rem;

        > i {
            position: relative;
            transform: scaleX(-1);
            top: 0.5em;
        }

        &.multiple-actions--bottom {
            margin-top: 1rem;

            > i {
                transform: scaleX(-1) scaleY(-1);
                top: -0.5em;
            }
        }

        > strong {
            padding-left: 0.5em;
        }

        .button-group {
            display: inline-flex;
        }
    }

    .feed-item {
        display: flex;
        padding: 0;

        .feed-item-left {
            flex: 0 0 3em;
            display: flex;
            justify-content: center;

            input {
                flex: 0;
            }
        }

        &.active {
            .feed-item-left {
                background: $primary;
            }
        }
    }

    .feed-item-main {
        flex: 1;
        padding: 1.5em 0 1em;
    }
}

body.show-multiple-actions {
    .multiple-actions {
        display: block;
    }
}