.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 500;
}

.modal {
    position: fixed;
    top: 100px;
    left: 50%;
    width: 600px;
    min-height: 100px;
    margin-left: -300px;
    background: $overlay_bg;
    padding: 2em;
    box-shadow: $block_shadow;

    @include dark-mode {
        background: $dark_overlay_bg;
        box-shadow: $dark_block_shadow;
    }

    z-index: 500;

    &.feedback-success,
    &.feedback-error {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i {
            font-size: 15em;
        }

        &.feedback-success {
            i {
                color: $success;
            }
        }

        &.feedback-error {
            i {
                color: $error;
            }
        }

        span {
            display: block;
            text-align: center;
            font-size: 2em;
            margin-top: 1em;
        }
    }
}