body.playground {
    .levels-list {
        ul {
            list-style: none;

            li {
                font-family: $text_mono_font;

                &.level-completed a {
                    color: $primary;
                }

                a {
                    display: flex;

                    > * {
                        margin: 0 10px;

                        &:first-child {
                            margin-left: 0;
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }

                    .level-title {
                        flex-grow: 1;
                    }

                    .level-difficulty,
                    .level-completed,
                    .level-success {
                        text-align: right;
                        min-width: 60px;
                    }

                    @media (max-width: $mobileWidth) {
                        flex-wrap: wrap;

                        .level-title {
                            width: 100%
                        }

                        > :not(.level-title) {
                            font-size: 0.8em;
                            color: $text_subtle;
                            text-align: left !important;
                            flex-grow: 1;

                            @include dark-mode {
                                color: $dark_text_subtle;
                            }
                        }
                    }
                }
            }
        }
    }

    .levels-subjects {
        ul {
            list-style: none;

            > li {
                margin-bottom: 1px;

                > a {
                    display: block;
                    padding: 6px 8px;
                    color: $link;

                    &:hover {
                        background: $primary !important;
                        color: white;
                    }

                    @include dark-mode {
                        color: $dark_link;
                    }
                }

                &.active {
                    > a {
                        background: $secondary;
                        color: white;
                        font-weight: bold;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }

    .block-heading {
        .user-status {
            font-size: 0.9em;
        }

        .next-level {
            i {
                font-size: 0.7em;
                vertical-align: middle;
            }
        }
    }

    .level {
        position: relative;

        .level-container {

            .level-badge {
                text-align: center;
                margin: 2em;

                font-size: 2em;

                .level-badge-emoji {
                    margin: 0 auto;
                    font-size: 200px;
                    line-height: 200px;
                    margin-bottom: 3rem;
                }

                .small {
                    margin-top: 1rem;
                    font-size: 2rem;
                }
            }

            .block--share {
                .block-content {
                    display: block;

                    a {
                        text-decoration: none;
                        background-image: none;
                        padding: 0 1rem;
                    }
                }
            }

            .level-description {
                margin-bottom: 3em;
            }

            form {
                width: 100%;
            }

            .level-output {
                font-size: 0.8em;
                overflow: auto;
                margin-top: 2em;

                .iframe-header {
                    padding: 0.3em 0.5em;
                    background: $secondary;
                    color: white;
                    display: block;
                    border-radius: 4px 4px 0 0;
                }
                iframe {
                    display: block;
                    background: $accent;
                    height: 300px;
                    width: 100%;
                    border-radius: 0 0 4px 4px;

                    @include dark-mode {
                        background: $dark_accent;
                    }
                }
            }

        }
    }


    .level-stats--progress {
        font-size: 0.9em;

        h3 {
            margin-bottom: 0.2em;
            font-size: 2.1em;
        }

        .right {
            font-size: 0.8em;
        }
    }
}

.playground-next-level-hero {
    .block-content {
        > a {
            display: flex;
            color: $text;

            @include dark-mode {
                color: $dark_text;
            }

            &:hover {
                h2 {
                    color: $primary;
                }

                .medal {
                    opacity: 1;
                }
            }

            .medal {
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $secondary;
                border-radius: 4px;

                flex-shrink: 0;

                opacity: 0.9;

                &.medal--bronze { background: $medalBronze; }
                &.medal--silver { background: $medalSilver; }
                &.medal--gold { background: $medalGold; }
                &.medal--green { background: $medalGreen; }

                i {
                    font-size: 3em;
                    color: white;
                }
            }

            .level-details {
                margin: 0 1em;
                flex: 1 0 auto;

                @media (max-width: $mobileWidth) {
                    margin: 0;
                }
            }

            .level-graph {
                flex: 0 1 300px;
            }
        }
    }

}