{% set queue = queue('classes', 'sidebar', 'admin') %}
{% extends 'layout/main.twig' %}
{% set queue2 = queue('scripts', '/js/moderation.min.js') %}

{% import "includes/macros.twig" as macros %}

{% block content %}
    
    <div id="content" class="container">
        <div class="block">
            <div class="block-heading">
                <h1>{{ status|capitalize }} Tickets</h1>
            </div>
            <div class="block-content moderation-tickets">
                <div class="multiple-actions">
                    <i class="fa fa-level-down-alt"></i>
                    <strong>Mark as:</strong>
                    <div class="button-group button-group--small">
                        <button class="button" data-action="open">
                            Open
                        </button>
                        <button class="button" data-action="closed">
                            Closed
                        </button>
                        <button class="button" data-action="resolved">
                            Resolved
                        </button>
                        <button class="button" data-action="spam">
                            Spam
                        </button>
                    </div>
                </div>

                <div class="feed">
                    {% for ticket in tickets %}
                        <div class="feed-item" data-id="{{ ticket.ticket_id }}">
                            <div class="feed-item-left">
                                <input type="checkbox" class="feed-item-left" autocomplete="off"/>
                            </div>

                            <div class="feed-item-main" >
                                <div class="feed-item-header">
                                    <a class="feed-item-details" href="{{ ticket.permalink }}">
                                        <div class="feed-item-title">Ticket #{{ ticket.ticket_id }}</div>
                                        <div class="small">
                                            {% if ticket.user_id %}
                                                {% set user = getUser(ticket.user_id) %}
                                                {{ user.username }}
                                            {% else %}
                                                Guest
                                            {% endif %}
                                            |
                                            {{ pluralize(ticket.messages|length - 1, '1 reply', '%d replies', 'no replies') }}
                                            |
                                            {{ ticket.messages|last.sent|ago }}
                                        </div>
                                    </a>

                                    <div>
                                        <div class="feed-item-type">{{ ticket.status }}</div>
                                        {% if ticket.status == 'open' and ticket.messages|last.owner %}
                                            <div class="feed-item-subtype">new</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="feed-item-content truncate">
                                    {{ ticket.messages.0.content.safe|raw }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="multiple-actions multiple-actions--bottom">
                    <i class="fa fa-level-down-alt"></i>
                    <strong>Mark as:</strong>
                    <div class="button-group button-group--small">
                        <button class="button" data-action="open">
                            Open
                        </button>
                        <button class="button" data-action="closed">
                            Closed
                        </button>
                        <button class="button" data-action="resolved">
                            Resolved
                        </button>
                        <button class="button" data-action="spam">
                            Spam
                        </button>
                    </div>
                </div>

                <div class="pagination">
                    {{ macros.pagination(pages, page, "/moderation/tickets/" ~ status ~ "/") }}
                </div>
            </div>
        </div> 
    </div>

{% endblock %}
