{% set queue = queue('classes', 'sidebar', 'moderation') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container moderation-queues">
        <div class="block">
            <div class="block-heading">
                <h1>{{ title }}</h1>
            </div>
            <div class="block-content">
                <div class="feed">
                    {% include 'includes/flash.twig' %}

                    {% for key, queue in queues %}
                        <div class="feed-item {{ queue.count > 0 and queue.access ? 'feed-item--active' : 'feed-item--inactive' }}">
                            <div class="feed-item-main">
                                <div class="feed-item-header">
                                    <div class="queue-count">
                                        {{ queue.count ? queue.count|number_format : 0 }}
                                    </div>
                                    <div class="feed-item-details">
                                        <a href='/moderation/tickets/{{ key }}' data-href="permalink" class="feed-item-title">
                                            <h4>{{ queue.title }}</h4>
                                        </a>
                                        <div class="small">
                                            {{ queue.description }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
