{% macro pagination(total, current, url = '/', nearbyPagesLimit = 2) %}
    {% if total > 1 %}
        <div class="button-group button-group--small">
            {% for i in 1..total %}
                {% if 0 == (current - nearbyPagesLimit) - loop.index %}
                    <a href="{{url}}1" class="button">1</a>
                    {% if 1 != loop.index %}
                        <a href="javascript:void(0)" class="button">...</a>
                    {% endif %}
                {% elseif 0 == (current + nearbyPagesLimit) - loop.index  and (current + nearbyPagesLimit) < total %}
                    <a href="javascript:void(0)" class="button">...</a>
                {% elseif 0 < (current - nearbyPagesLimit) - loop.index %}
                {% elseif 0 > (current + nearbyPagesLimit) - loop.index %}
                {% else %}
                    <a href="{{url}}{{ loop.index }}" class="button">{{ loop.index }}</a>
                {% endif %}
            {% endfor %}
            {% if current != total  and (current + nearbyPagesLimit) < total %}
                <a href="{{url}}{{ total }}" class="button">{{ total }}</a>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}