<div class="block {% if not profile.getBio() %}block--blank{% endif %}">
    <div class="block-content">
        {% if profile.getBio() %}
            {{ profile.getBio()|raw }}
        {% elseif profile.currentUser %}
            <i class="far fa-id-card" aria-hidden="true"></i>
            <p>You should put a bit about yourself here</p>
            <p class="small"><a href='/settings/profile' class="button button--secondary">Edit profile</a></p>
        {% else %}
            <i class="far fa-frown-open" aria-hidden="true"></i>
            <p>User hasn't filled in their bio</p>
        {% endif %}
    </div>
</div>