{% set feed = profile.getFeed() %}
{% if feed|length %}
    <div class="block">
        <div class="block-content">
            <ul class="list">
                {% for item in feed %}
                    <li {% if loop.index > 5 %}class="hide"{% endif %}>
                        <div class="right">{{ item.date|ago }}</div>
                        {% if item.type == 'joined' %}
                            Joined the site
                        {% elseif item.type == 'medal' %}
                            {% set medal = getMedal(item.medal) %}
                            <i class="fas fa-medal small c-{{ medal.colour }}"></i>&nbsp;
                            Awarded {{ medal.label }} medal
                        {% elseif item.type == 'discussion' %}
                            {% set thread = getDiscussion(item.thread) %}
                            Posted a reply in <a href='#'>{{ thread.title }}</a>
                        {% elseif item.type == 'article' %}
                            {% set article = getArticle(item.article) %}
                            <a href='{{ article.permalink }}'>{{ article.title }}</a> was published
                        {% elseif item.type == 'username' %}
                            Changed their username from {{ item.username }}
                        {% elseif item.type == 'level' %}
                            {% set level = getLevel(item.level) %}
                            <a href='/playground/{{ level.slug }}'>
                                <div class="level-title">
                                    <i class="far fa-circle small c-{{ level.difficulty }}"></i>&nbsp;
                                    Completed {{ level.title }}
                                    {% if level.subject %}
                                        / {{ level.subject }}
                                    {% endif %}
                                </div>
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% if feed|length > 5 %}
                <div class="center">
                    <a class="button center" data-toggle="li" data-toggle-show>Show more</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}