{% if (profile.followingCount > 0 or profile.followersCount > 0) or (user and not profile.currentUser) %}
    <div class="block">
        <div class="block-content">
            <div class="profile-stat">
                <div>
                    Following
                    <h3>{{ profile.followingCount|number_format }}</h3>
                </div>
                <div>
                    Followers
                    <h3>{{ profile.followersCount|number_format }}</h3>
                </div>
            </div>
        </div>
        {% if user %}
            <div class="block-content">
                {% if profile.currentUser %}
                    <a href='/settings/followers' class="button button--wide button--warning">Manage followers</a>
                {% elseif profile.beingFollowed() %}
                    <a href='{{ profile.permalink }}/unfollow' class="button button--wide button--warning" data-follow>Stop following</a>
                {% else %}
                    <a href='{{ profile.permalink }}/follow' class="button button--wide" data-follow>Follow</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endif %}