<div class="block">
    <div class="block-heading"><h3>Logins</h3></div>
    <div class="block-content">
        <div class="profile-stat">
            <div title="Number of days logged in">
                Days
                <h3>{{ user.visits.days|number_format }}</h3>
            </div>
            <div title="Current number of consecutive logins">
                Consecutive
                <h3>{{ user.visits.consecutive|number_format }}</h3>
            </div>
            <div title="Personal best number of consecutive logins">
                Most consecutive
                <h3>{{ user.visits.consecutive_max|number_format }}</h3>
            </div>
        </div>
    </div>
</div>